.customBulletIcon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    fill: white;
}

.swiper-pagination-bullet-active .customBulletIcon {
    fill: var(--green);
}