.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.textContainer {
    max-width: 532px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.bookBtn {
    border-radius: 14px;
    padding: 20px 35px;
    width: 264px;
    height: 68px;
    background: var(--dark);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    transition: color 250ms linear;
}

.bookBtn:hover,
.bookBtn:focus {
    color: var(--green);
}

.image {
    width: 520px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
    display: block;
}

@media only screen and (max-width: 1024px) {
    .title {
        font-size: 40px;
    }

    .textContainer {
        max-width: 100%;
    }

    .text {
        font-size: 18px;
    }

    .bookBtn {
        width: 100%;
    }

    .image {
        width: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .headerContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 30px;
    }

    .textContainer {
        max-width: 100%;
    }

    .text {
        font-size: 16px;
    }

    .image {
        width: 100%;
    }
}