:root {
  --green: #b9ff66;
  --grey: #f3f3f3;
  --dark: #191a23;
  --black: #000;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  font-family: "Space Grotesk", serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p,
input {
  font-size: 18px;
  margin: 0;
  font-family: "Space Grotesk", serif;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  display: flex;
  padding: 0;
  gap: 4px;
}

button {
  border: 1px solid;
  padding: 20px 35px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pageContainer {
  padding: 0 100px;
}

.section {
  padding: 70px 0;
}

.titleContainer {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}