:root {
  --green: #b9ff66;
  --grey: #f3f3f3;
  --dark: #191a23;
  --black: #000;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  font-family: 'Space Grotesk', serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

p,
input {
  font-size: 18px;
  margin: 0;
  font-family: 'Space Grotesk', serif;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid;
  padding: 20px 35px;
  cursor: pointer;
}

html,
body {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pageContainer {
  padding: 0 100px;
}

.section {
  padding: 70px 0;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1024px) {
  .pageContainer {
    padding: 0 40px;
  }

  .titleContainer {
    gap: 24px;
    margin-bottom: 48px;
  }

  .section {
    padding: 40px 0;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .pageContainer {
    padding: 0 16px;
  }

  .titleContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }

  .section {
    padding: 36px 0;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
}
