.accordionList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listItem {
    border: 1px solid var(--dark);
    border-radius: 45px !important;
    padding: 41px 60px;
    box-shadow: 0 5px 0 0 var(--dark) !important;
    background-color: var(--grey) !important;
    margin: 0 !important;
    transition: background-color 250ms linear !important;
}

.expanded {
    background-color: var(--green) !important;
}

.accordionInfo::before {
    content: '';
    display: flex;
    border: 1px solid var(--dark);
    width: 100%;
    height: 0;
    margin-bottom: 30px;
}

.listItem::before {
    display: none;
}

.listItemTitle {
    display: flex;
    align-items: center;
    margin: -12px 0;
}

.titleText {
    font-size: 30px;
    margin-left: 25px;
    font-weight: 500;
}

.svgIcon {
    width: 58px !important;
    height: 59px !important;
    border: 1px solid black;
    border-radius: 100%;
    padding: 16px;
    fill: var(--dark);
}