.accordionList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listItem {
    border: 1px solid var(--dark);
    border-radius: 45px !important;
    padding: 41px 60px;
    box-shadow: 0 5px 0 0 var(--dark) !important;
    background-color: var(--grey) !important;
    margin: 0 !important;
    transition: background-color 250ms linear;
}

.listItem.Mui-expanded {
    background-color: var(--green) !important;
}

.listItem::before {
    display: none;
}

.listTitle {
    display: flex;
    align-items: center;
}

.titleNumber {
    font-size: 60px;
    margin-right: 25px;
}

.accordionHeader {
    display: flex;
    gap: 25px;
    color: var(--black);
}

.titleBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.svgIcon {
    fill: var(--black);
    stroke-width: 1px;
}

.svgIcon::after {
    content: "";
}

.btnIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 20px;
    border-radius: 100%;
}